.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;

  .sing-in-container{
    display: flex;
    flex-direction: column;
  }
  .sing-up-container{
    display: flex;
    flex-direction: column;
  }
}
